/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #a8a8a8;
  --ifm-color-primary-dark: rgb(83, 83, 83);
  --ifm-color-primary-darker: rgb(37, 37, 37);
  --ifm-color-primary-darkest: rgb(0, 0, 0);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 85%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(39, 75, 175);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
